body {
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    height: 680px;
    width: 100%;
}

#header {
    background-image: url(pets.png);
    background-size: cover;
}

#question1 {
    background-color: #E8D7CE;
}

#question2 {
background-color: #fe928c7e;
}

#final-page {
    background-color: #9c8f7f6d;
    height: 620px;
}

#footer {
    background-color: #fe928c7e;
    height: 60px;
}